:root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --navbar-bg: rgb(38, 8, 120);
  font-family: "Poppins", sans-serif;
}

$text-indent: 0.5rem;
$text-fontSize: 1.2rem;
$pink-theme: #d83f87;
$black-theme: #2a1b3d;
$violet-theme: #44318d;
$lavendar-theme: #8265a7;
$green-theme: #a4b3b6;
$border: 5px solid white;

body {
  width: 100vw;
  height: 100vh;
  background-color: $black-theme;
}

input {
  outline: none;
  box-shadow: none;
  background: transparent;
  border-width: 0 0 1.3px 0;
  border-color: slategray;
  padding: $text-indent;
  font-size: $text-fontSize;
  color: white;
}

input::placeholder {
  color: white;
  opacity: 50%;
}

button {
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  background-color: transparent;
}

input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: $border;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em $pink-theme;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

li {
  list-style-type: none;
}

.submit {
  background-color: transparent;
  height: 3rem;
  width: 7rem;
  color: white;
  border: 4px solid white;
  border-radius: 5px;
  font-size: 1.5rem;
}

.sub-heading {
  color: $lavendar-theme;
  text-transform: capitalize;
  font-size: 1.5rem;
  opacity: 0.8;
  max-width: 400px;
}

.modal-link {
  color: $pink-theme;
}

.urgent-glow {
  border: 2px solid $pink-theme;
  box-shadow: 0 0 2px $pink-theme, 0 0 6px $pink-theme, 0 0 10px $pink-theme,
    0 0 15px $pink-theme, 0 0 19px $pink-theme, 0 0 22px #ff8000,
    0 0 25px #ff8000;
}

.close {
  top: 1px;
  right: 5px;
  font-size: 26px;
  cursor: pointer;
  background: none;
  position: absolute;
  color: $pink-theme;
  font-weight: 600;
}

.completed {
  text-decoration: line-through;
  opacity: 30%;
}

.overlay {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(8px);
  background-color: rgba(40, 40, 40, 0.2);
}

.selected {
  border: 2px solid white;
  box-shadow: 0 0 2px white, 0 0 6px white, 0 0 10px white, 0 0 15px white,
    0 0 19px white, 0 0 22px $pink-theme, 0 0 25px $pink-theme;
}

// * App.js //

.container {
  .main {
    display: grid;
    grid-template-columns: 2fr 5fr;
    .taskComponents {
      grid-column-start: 2;
    }
  }
}

// * Navbar.jsx //

.navbar {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  width: 100vw;
  background-color: $pink-theme;
  p {
    padding-left: 1rem;
    font-weight: 800;
    font-size: 3.2rem;
    // color: $violet-theme;
    color: white;
  }
  button {
    width: fit-content;
    height: 3rem;
    background: transparent;
    place-self: center;
    padding-right: 3rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
  }
  .greeting {
    font-size: 1.5rem;
  }
}

// * TodoInput.jsx //

.todoInput {
  width: 48rem;
  border-radius: 10px;
  padding: 1.2rem;
  margin-top: 2rem;
  background-color: $violet-theme;
  border: $border;
  form {
    display: grid;
    grid-template-columns: 6fr 1fr;
  }
  p {
    font-size: $text-fontSize;
    font-weight: 600;
  }
  fieldset {
    border: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    height: 100%;
    align-items: center;
  }
  button {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    border: none;
    border-radius: 5px;
    margin-left: 0.8rem;
    font-size: 1.2rem;
    background: transparent;
  }
  button:hover {
    transform-origin: 50% 50%;
  }
  input {
    color: white;
  }
  .urgent {
    height: 42px;
  }
  .plus {
    height: 70px;
  }
  .options {
    grid-column-start: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: 8fr 1fr;
    gap: 1rem;
  }
  .form-control {
    font-family: system-ui, sans-serif;
    font-size: 2rem;
    display: grid;
    align-self: center;
  }
  .warning::placeholder {
    font-size: $text-fontSize + 0.5rem;
    color: rgb(255, 43, 43);
  }
}

// * LoginModal.jsx //

.loginModal,
.signupModal {
  margin: 3rem;
  color: white;
  z-index: 99;
  .show {
    min-height: 40vh;
    min-width: 35vw;
    top: 25%;
    left: 50%;
    display: grid;
    position: fixed;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(25px);
    transform: translate(-50%, -25%);
    background-color: rgba(40, 40, 40, 0.65);
    box-shadow: rgba(242, 238, 238, 0.16) 0px 3px 6px,
      rgba(255, 255, 255, 0.23) 0px 3px 6px;
    border-radius: 10px;
  }
  form {
    display: grid;
    gap: 2rem;
    padding: 7rem;
  }
  fieldset {
    display: grid;
    gap: 1.5rem;
    grid-template-rows: repeat(2, 1fr);
    border: none;
  }
  button {
    background-color: transparent;
    color: white;
    font-weight: 600;
    border: $border;
    border-radius: 5px;
    padding: 1rem;
    font-size: 1.3rem;
  }
  .close {
    border: none;
  }
  .signup {
    text-align: center;
  }
  a {
    color: $pink-theme;
  }
}

// * MappedTodo.jsx //

.mappedTodoItems {
  .tasks {
    display: grid;
    border: $border;
    grid-template-columns: 4fr 1fr;
    margin-top: 2rem;
    padding: 1rem;
    border: $border;
    border-radius: 5px;
    background-color: $green-theme;
    width: 48rem;
  }
  .total-tasks {
    // margin-left: 3rem;
  }
  .list-title {
    color: white;
    font-size: 3rem;
    text-transform: capitalize;
  }
  cursor: pointer;
  p {
    font-size: $text-fontSize;
  }
  .options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 1rem;
  }
  button {
    background: transparent;
    border: none;
  }
  img {
    height: 40px;
  }
  .tags {
    color: $lavendar-theme;
    opacity: 70%;
  }
}

// * TaskEditModal.jsx //

.taskEditModal {
  .show {
    min-height: 30vh;
    min-width: 55vw;
    top: 25%;
    left: 50%;
    display: grid;
    position: fixed;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(25px);
    transform: translate(-50%, -25%);
    background-color: rgba(40, 40, 40, 0.7);
    box-shadow: rgba(242, 238, 238, 0.16) 0px 3px 6px,
      rgba(255, 255, 255, 0.23) 0px 3px 6px;
    border-radius: 10px;
  }
  fieldset {
    border: none;
    display: grid;
  }
  label {
    padding: 1rem;
  }
  .options {
    display: grid;
    grid-template-columns: 5fr 1fr;
  }
  .input-task,
  .input-tags {
    width: 100%;
    font-size: 1.5rem;
  }
  .urgent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    padding: 1rem;
  }
  .img-urgent {
    height: 40px;
  }
  .submit {
    height: 3rem;
    width: 7rem;
  }
  input[type="checkbox"] {
    height: 38px;
    width: 38px;
  }
  input[type="checkbox"]::before {
    content: "";
    width: 30px;
    height: 30px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em $pink-theme;
  }
  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
  form {
    display: grid;
    justify-items: center;
  }
}

// * Sidebar.jsx //

.sidebar {
  color: white;
  position: fixed;
  left: 0;
  height: 100vh;
  overflow-y: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr min-content;
  .my-list {
    padding-top: 2rem;
  }
  .chevron {
    cursor: pointer;
    transition: transform 0.3s;
    transform-origin: center;
    height: 1.5rem;
  }
  .chevron:hover {
    transform: scale(1.3);
  }
  .divider {
    border-top: 5px solid $pink-theme;
  }
  .submit {
    width: 100%;
    height: 100%;
  }
  .defaultList {
    display: grid;
    gap: 1rem;
    margin: 0;
    padding: 2rem;
    li {
      border: 5px solid white;
      border-radius: 10px;
      padding: 2rem;
      text-align: left;
      font-weight: 600;
      font-size: 1.7rem;
      text-transform: capitalize;
      max-width: 155px;
    }
  }
  .userCreatedList {
    display: grid;
    gap: 1rem;
    font-weight: 600;
    font-size: 1.1rem;
    max-width: 155px;
    .custom-list {
      display: grid;
      grid-template-columns: 5fr 1fr 1fr;
      border: transparent;
      border-radius: 5px;
      padding: 10px;
      cursor: pointer;
      div,
      img {
        display: grid;
        place-self: center;
      }
    }
    .task-quantity {
      display: grid;
      align-self: center;
      justify-self: flex-end;
      font-size: 0.8rem;
      opacity: 40%;
    }
    li {
      width: 155px;
    }
    img {
      display: grid;
      height: 15px;
      align-self: center;
      justify-self: flex-end;
      transform-origin: center;
      transition: transform 0.1.3s;
    }
    img:hover {
      transform: scale(1.3);
    }
  }
}
